
* {
    box-sizing: border-box;
}

:root {
    color-scheme: light;
    --bg-color-1: #ffffff;
    --bg-color-2: #fcfcfc;
    --bg-color-3: #ffffff;
    --bg-color-4: #52525211;
    --bg-color-5: #02020211;
    --bg-color-6: #ffffff31;
    --bg-color-7: #ffffff48;
    --bg-color-8: #ffffff42;
    --bg-color-9: #2828281f;
    --bg-color-10: #b8b8b847;
    --bg-color-11: #ffffff77;
    --bg-color-12: #00000011;
    --bg-color-13: #474747;
    --bg-color-14: #f3f3f3;
    --bg-color-15: #ffffff;
    --bg-color-16: #1a8fd3;
    --text-color-1: #000000af;  
    --text-color-2: #f5f5f5; /* const */
    --text-color-3: #f5f5f5b9; /* const */
    --tetx-color-4: #616161;
    --text-color-5: #000000;
    --text-color-6: #00000094;
    --text-color-7: #616161;
    --stroke-color-1: #ebebeb4d;
    --stroke-color-2: #5e98f0;
    --border-color-1: #0000000a;
    --scroll-bar-color: #e7e7e7;
    --scroll-bar-color-2: #a3a3a39a;
    --text-decoration-color-1: #c6c6c6;
    --text-decoration-color-2: #646464;
    --gradient-1: linear-gradient(190deg, #6686b4 0%, #7f8b99 92%);
    --gradient-2: linear-gradient(190deg, #6da3b4 0%, #8090a0 92%);
    --gradient-3: linear-gradient(190deg, #8f8dbb 16%, #96959e 100%);
}

body.night-mode {
    color-scheme: dark;
    --bg-color-1: #4a4c4e;
    --bg-color-2: #3d3d3f;
    --bg-color-3: #585858;
    --bg-color-4: #ffffff11;
    --bg-color-5: #e4e4e411;
    --bg-color-6: #ffffff31;
    --bg-color-7: #ffffff48;
    --bg-color-8: #ffffff42;
    --bg-color-9: #cccccc1f;
    --bg-color-10: #a7a7a748;
    --bg-color-11: #4d4d4d77;
    --bg-color-12: #ffffff11;
    --bg-color-13: #c9c9c9;
    --bg-color-14: #555555;
    --bg-color-15: #5c5c5c;
    --bg-color-16: #3a94c7;
    --text-color-1: #d1d1d1d7;
    --text-color-2: #f5f5f5; /* const */
    --text-color-3: #f5f5f5b9; /* const */
    --tetx-color-4: #616161;
    --text-color-5: #ffffff;
    --text-color-6: #ffffff94;
    --text-color-7: #a1a1a1;
    --stroke-color-1: #6666664d;
    --stroke-color-2: #5e98f0;
    --border-color-1: #ffffff0a;
    --scroll-bar-color: #8f8f8f;
    --scroll-bar-color-2: #ececec9a;
    --text-decoration-color-1: #777777;
    --text-decoration-color-2: #b1b1b1;
    --gradient-1: linear-gradient(190deg, #5c6e8b 0%, #4c545f 92%);
    --gradient-2: linear-gradient(190deg, #58757e 0%, #545b62 92%);
    --gradient-3: linear-gradient(190deg, #6f6c8b 16%, #535358 100%);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

h1, h2, h3, h5, h6, button, input, span, b, code, p, div, header, footer {
    font-family: "Sourse Sans Pro", sans-serif;
    transition: .2s ease;
}

h1, h2, h3, h5, h6 {
    text-wrap: balance;
}

.disactive {
    display: none !important;
}

.weather-main__wind,
.weather-main__humidity,
.weather-main__pressure,
.day-card__wind,
.day-card__humidity {
    display: flex;
    font-family: "Sourse Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color-2);
}
.weather-main__wind-block,
.weather-main__humidity-block,
.weather-main__pressure-block,
.day-card__wind-block,
.day-card__humidity-block {
    position: relative;
    margin: 0 0 0 23px;
}
.weather-main__wind-block::before,
.weather-main__humidity-block::before,
.weather-main__pressure-block::before,
.day-card__wind-block::before,
.day-card__humidity-block::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -23px;
    top: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.weather-main__wind-block::before,
.day-card__wind-block::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22%3E %3Cg fill=%22%23FFF%22 fill-rule=%22nonzero%22%3E %3Cpath d=%22M6 11.5h5.688a3.75 3.75 0 1 0-1.95-6.954.75.75 0 0 0 .781 1.28A2.25 2.25 0 1 1 11.688 10L6 10.001a.75.75 0 1 0 0 1.5zM2 15h9.966a1.5 1.5 0 1 1-.779 2.782.75.75 0 0 0-.78 1.281 3 3 0 1 0 1.56-5.563H1.999A.75.75 0 1 0 2 15zM16.667 13h2.251a3 3 0 1 0-1.56-5.563.75.75 0 0 0 .781 1.28 1.5 1.5 0 1 1 .779 2.782l-2.251.001a.75.75 0 1 0 0 1.5z%22/%3E %3C/g%3E %3C/svg%3E");
}
.weather-main__humidity-block::before,
.day-card__humidity-block::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5487 8.0001C16.7829 6.74175 15.1271 4.67011 12.5637 1.75476C12.2645 1.41448 11.7342 1.41518 11.4359 1.75625C8.88065 4.67783 7.22597 6.74805 6.45489 7.99571C3.91532 12.1049 3.72409 15.9389 6.56528 18.751C9.63862 21.793 14.3621 21.792 17.4355 18.7512C20.2743 15.9425 20.0858 12.169 17.5487 8.0001ZM7.73087 8.78429C8.39019 7.71747 9.8183 5.91206 12.0019 3.39071C14.1889 5.90415 15.6153 7.70851 16.2673 8.77991C18.4829 12.4205 18.6344 15.4548 16.3805 17.6849C13.8915 20.1475 10.1092 20.1483 7.62047 17.685C5.36463 15.4522 5.51867 12.3638 7.73087 8.78429Z%22 fill=%22white%22/%3E %3Cpath d=%22M12.7366 17.2967C14.3588 16.7579 15.4749 15.2362 15.4749 13.5C15.4749 13.0858 15.1391 12.75 14.7249 12.75C14.3107 12.75 13.9749 13.0858 13.9749 13.5C13.9749 14.5852 13.277 15.5366 12.2638 15.8732C11.8707 16.0038 11.6579 16.4283 11.7884 16.8214C11.919 17.2145 12.3436 17.4273 12.7366 17.2967Z%22 fill=%22white%22/%3E %3C/g%3E %3C/svg%3E");
}
.weather-main__pressure-block::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E %3Cg%3E %3Cpath d=%22M14.1314 2.22778C14.5361 2.31569 14.793 2.71509 14.7051 3.11986C14.6172 3.52464 14.2178 3.78152 13.813 3.69362C13.2222 3.56532 12.6156 3.5 12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 16.6944 7.30558 20.5 12 20.5C16.6944 20.5 20.5 16.6944 20.5 12C20.5 11.4103 20.4401 10.8289 20.3222 10.2616C20.238 9.85608 20.4985 9.45902 20.904 9.37478C21.3096 9.29054 21.7067 9.55101 21.7909 9.95657C21.9295 10.624 22 11.3077 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C12.7228 2 13.4361 2.07681 14.1314 2.22778Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M13.348 10.6533C13.6409 10.9461 14.1158 10.946 14.4086 10.6531L18.0304 7.03025C18.3233 6.73732 18.3232 6.26244 18.0303 5.96959C17.7373 5.67674 17.2624 5.67681 16.9696 5.96975L13.3478 9.59259C13.055 9.88553 13.055 10.3604 13.348 10.6533ZM8.21961 15.7803C8.51248 16.0732 8.98735 16.0732 9.28028 15.7804L10.5308 14.5301C10.8237 14.2373 10.8238 13.7624 10.5309 13.4695C10.238 13.1766 9.76315 13.1765 9.47023 13.4694L8.21972 14.7196C7.9268 15.0125 7.92675 15.4874 8.21961 15.7803Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M14.75 5.75C14.75 5.33579 15.0858 5 15.5 5H18.25C18.6642 5 19 5.33579 19 5.75C19 6.16421 18.6642 6.5 18.25 6.5H15.5C15.0858 6.5 14.75 6.16421 14.75 5.75Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M17.5 5.75C17.5 5.33579 17.8358 5 18.25 5C18.6642 5 19 5.33579 19 5.75V8.5C19 8.91421 18.6642 9.25 18.25 9.25C17.8358 9.25 17.5 8.91421 17.5 8.5V5.75Z%22 fill=%22white%22/%3E %3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12ZM13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12Z%22 fill=%22white%22/%3E %3C/g%3E %3C/svg%3E");
}
.weather-main__wind-block::after,
.weather-main__humidity-block::after,
.weather-main__pressure-block::after,
.day-card__wind-block::after,
.day-card__humidity-block::after {
    position: absolute;
    content: "";
    top: 2px;
    font-size: 16px;
    color: var(--text-color-3);
}
.weather-main__humidity-block::after,
.day-card__humidity-block::after {
    width: 20px;
    content: "%";
}
.weather-main__wind-block {
    margin-right: 28px;
}
.weather-main__humidity-block {
    margin-right: 15px;
}
.weather-main__pressure-block {
    margin-right: 73px;
}
.weather-main__temp-block.c::after,
.day-card__temp.c::after,
.slider-block__temp.c::after,
.day-info-block-day-time__temp.c::after,
.weather-main__self-temp-block.c::after {
    content: "°C" !important;
}
.weather-main__temp-block.f::after,
.day-card__temp.f::after,
.slider-block__temp.f::after,
.day-info-block-day-time__temp.f::after,
.weather-main__self-temp-block.f::after {
    content: "°F" !important;
}
.weather-main__temp-block.k::after,
.day-card__temp.k::after,
.slider-block__temp.k::after,
.day-info-block-day-time__temp.k::after,
.weather-main__self-temp-block.k::after {
    left: 110% !important;
    content: "K" !important;
}
.weather-main__wind-block.mps::after,
.day-card__wind-block.mps::after,
.day-info-block-day-time__wind.mps::after {
    content: "м/с" !important;
    width: 27px !important;
}
.weather-main__wind-block.kmph::after,
.day-card__wind-block.kmph::after,
.day-info-block-day-time__wind.kmph::after {
    content: "км/ч" !important;
    width: 40px !important;
}
.weather-main__wind-block.milph::after,
.day-card__wind-block.milph::after,
.day-info-block-day-time__wind.milph::after {
    content: "мл/ч" !important;
    width: 40px !important;
}
.weather-main__wind-block.mps,
.day-card__wind-block.mps,
.day-info-block-day-time__wind.mps {
    margin-right: 27px !important;
}
.weather-main__wind-block.kmph,
.day-card__wind-block.kmph,
.day-info-block-day-time__wind.kmph,
.weather-main__wind-block.milph,
.day-card__wind-block.milph,
.day-info-block-day-time__wind.milph {
    margin-right: 40px !important;
}
.weather-main__pressure-block.mm-rt::after,
.day-info-block-day-time__pressure.mm-rt::after {
    content: "мм. рс. ст." !important;
    width: 75px;
}
.weather-main__pressure-block.hpa::after,
.day-info-block-day-time__pressure.hpa::after {
    content: "гПа" !important;
}
.weather-main__pressure-block.hpa,
.day-info-block-day-time__pressure.hpa {
    margin-right: 30px !important;
}
.weather-main__pressure-block.mm-rt,
.day-info-block-day-time__pressure.mm-rt {
    margin-right: 75px !important;
}

@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../../fonts/sourse_sans_pro/SourceSansPro-ExtraLight.ttf"),;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../../fonts/sourse_sans_pro/SourceSansPro-Light.ttf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../../fonts/sourse_sans_pro/SourceSansPro-Regular.ttf");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../../fonts/sourse_sans_pro/SourceSansPro-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../../fonts/sourse_sans_pro/SourceSansPro-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Sourse Sans Pro";
    src: url("../../fonts/sourse_sans_pro/SourceSansPro-Bold.ttf");
    font-weight: 800;
    font-display: swap;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(11px, 0);
    }
}