.info-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 15px;
    background: var(--bg-color-15);
    box-shadow: 0px 0px 10px #00000018;
    z-index: 300;
}
.info-menu::after {
    position: absolute;
    content: "";
}
.info-menu.top {
    animation: modal-menu-top .2s ease forwards;
}
.info-menu.top::after {
    top: -9px;
    left: 14px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--bg-color-15);
}
.info-menu.bottom {
    animation: modal-menu-bottom .2s ease forwards;
}
.info-menu.bottom::after {
    top: calc(100%);
    left: 14px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--bg-color-15);
}
.info-menu.remove-top {
    animation: modal-menu-remove-top .2s ease forwards;
}
.info-menu.remove-bottom {
    animation: modal-menu-remove-bottom .2s ease forwards;
}
.info-menu__button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    text-align: left;
    color: var(--text-color-1);
    background: none;
    transition: .2s ease;
}
.info-menu__icon {
    position: relative;
    width: 17px;
    height: 17px;
}
.info-menu__icon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    fill: var(--text-color-1);
}
.info-menu__button#info-del-button::after {
    background-image: var(--delete-icon-path);
    width: 16px;
    height: 16px;
}
.info-menu__button#info-search-button::after {
    background-image: var(--search-icon-path);
}
.info-menu__button:hover,
.info-menu__button:focus {
    cursor: pointer;
    background: var(--bg-color-12);
}
@keyframes modal-menu-top {
    0% {
        opacity: 0;
        transform: translateY(-25px) scale(.7);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes modal-menu-bottom {
    0% {
        opacity: 0;
        transform: translateY(25px) scale(.7);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes modal-menu-remove-top {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-25px) scale(.7);
    }
}
@keyframes modal-menu-remove-bottom {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(25px) scale(.7);
    }
}