.page-blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    background: var(--bg-color-11);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.page-blur.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}