<template>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 386.892 386.892" style="enable-background:new 0 0 386.892 386.892;" xml:space="preserve">
	<path d="M337.002,201.38c-2.1-65.777-37.396-125.652-107.237-139.71C165.097,48.653,97.286,90.458,82.108,154.971
		c-0.03,0.126,0.013,0.24-0.012,0.367c-35.739-0.544-70.801,30.551-79.339,67.214c-20.407,87.627,77.206,94.594,136.125,96.413
		c52.659,1.624,214.185,33.403,243.104-36.232C398.471,243.04,370.872,213.667,337.002,201.38z"/>
</svg>
</template>