<template>
   <svg class="logo-icon"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      version="1.1"
      id="svg27"
      sodipodi:docname="logo.svg"
      inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg">
   <sodipodi:namedview
      id="namedview29"
      pagecolor="#505050"
      bordercolor="#eeeeee"
      borderopacity="1"
      inkscape:showpageshadow="0"
      inkscape:pageopacity="0"
      inkscape:pagecheckerboard="0"
      inkscape:deskcolor="#505050"
      showgrid="false"
      inkscape:zoom="20.725"
      inkscape:cx="24.197829"
      inkscape:cy="21.133896"
      inkscape:window-width="1920"
      inkscape:window-height="1009"
      inkscape:window-x="-8"
      inkscape:window-y="-8"
      inkscape:window-maximized="1"
      inkscape:current-layer="g25" />
   <defs
      id="defs17">
      <linearGradient
         id="a"
         x1="50%"
         x2="50%"
         y1="0%"
         y2="100%">
         <stop
            offset="0"
            stop-color="#1E64F0"
            id="stop2"
            style="stop-color:#4a73d4;stop-opacity:1;" />
         <stop
            offset="1"
            stop-color="#1AD3FC"
            id="stop4"
            style="stop-color:#3bbcdb;stop-opacity:1;" />
      </linearGradient>
      <linearGradient
         id="b"
         x1="50%"
         x2="50%"
         y1="0%"
         y2="100%">
         <stop
            offset="0"
            stop-color="#FFC700"
            id="stop7"
            style="stop-color:#ffce1b;stop-opacity:1;" />
         <stop
            offset="1"
            stop-color="#FFEA00"
            id="stop9"
            style="stop-color:#ffea08;stop-opacity:1;" />
      </linearGradient>
      <linearGradient
         id="c"
         x1="50%"
         x2="50%"
         y1="0%"
         y2="100%">
         <stop
            offset="0"
            stop-color="#FFF"
            stop-opacity=".8"
            id="stop12"
            style="stop-color:#ffffff;stop-opacity:0.81132078;" />
         <stop
            offset="1"
            stop-color="#FFF"
            id="stop14"
            style="stop-color:#e5e5e5;stop-opacity:1;" />
      </linearGradient>
   </defs>
   <g
      fill="none"
      fill-rule="evenodd"
      id="g25">
      <circle
         cx="20"
         cy="20"
         r="20"
         fill="url(#a)"
         id="circle19" />
      <circle
         cx="13.5"
         cy="16.5"
         r="6.5"
         fill="url(#b)"
         id="circle21" />
      <path
         fill="url(#c)"
         d="M14.4967105,28.4934211 C12.2893883,28.4934211 10.5,26.7040328 10.5,24.4967105 C10.5,22.4792488 11.9948021,20.8109168 13.9372778,20.5388431 C13.9091812,20.297341 13.8947368,20.0516731 13.8947368,19.8026316 C13.8947368,16.3217843 16.7165211,13.5 20.1973684,13.5 C22.8567494,13.5 25.131434,15.1470811 26.0569553,17.4767765 C26.1977419,17.466009 26.340007,17.4605263 26.4835526,17.4605263 C29.5302024,17.4605263 32,19.9303239 32,22.9769737 C32,26.0236234 29.5302024,28.4934211 26.4835526,28.4934211 C26.4362622,28.4934211 26.3891107,28.492826 26.3421053,28.4916429 L26.3421053,28.4934211 L14.4967105,28.4934211 Z"
         id="path23" />
   </g>
   </svg>
</template>
<style scoped>
   body.night-mode svg {
      filter: grayscale(40%);
   }
</style>