
<template>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M493.714,495.02V288.947l-130.612-62.694V66.612h-31.347V24.816h-67.918V1.306h-15.673v23.51h-67.918v41.796h-31.347
			v146.286h-31.347V168.49h-15.673v44.408H44.408v41.796H18.286V495.02H0v15.673h512V495.02H493.714z M148.898,312.163H52.245
			v15.673h96.653v26.122H52.245v15.673h96.653v26.122H52.245v15.673h96.653v26.122H52.245v15.673h96.653v41.796H33.959V270.367
			h114.939V312.163z M148.898,254.694H60.082v-26.122h88.816V254.694z M195.918,40.49h120.163v26.122H195.918V40.49z
			 M347.429,495.02H164.571V82.286h182.857V495.02z M478.041,453.224h-31.347v-26.122h31.347V453.224z M478.041,369.633h-31.347
			V343.51h31.347V369.633z M478.041,327.837H384v57.469h94.041v26.122H384v57.469h94.041v26.122H363.102V243.638l114.939,55.171
			V327.837z M431.02,343.51v26.122h-31.347V343.51H431.02z M431.02,427.102v26.122h-31.347v-26.122H431.02z"/>
	</g>
</g>
<g>
	<g>
		<rect x="381.388" y="291.265" width="20.898" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="113.633" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="155.429" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="197.225" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="239.02" width="31.347" height="15.674"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="239.02" width="31.347" height="15.674"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="239.02" width="31.347" height="15.674"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="280.816" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="280.816" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="280.816" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="322.612" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="322.612" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="322.612" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="364.408" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="364.408" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="364.408" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="406.204" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="406.204" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="406.204" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="240.327" y="448" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="448" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="448" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="197.225" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="197.225" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="155.429" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="155.429" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="292.571" y="113.633" width="31.347" height="15.673"/>
	</g>
</g>
<g>
	<g>
		<rect x="188.082" y="113.633" width="31.347" height="15.673"/>
	</g>
</g>
</svg>

</template>