<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
        <path d="m423.3,255.5c0,11.3 9.1,20.5 20.4,20.5h36.9c11.3,0 20.4-9.2 20.4-20.5 0-11.3-9.1-20.5-20.4-20.5h-36.9c-11.3,0-20.4,9.2-20.4,20.5z"/>
        <path d="M34.1,276H71c11.3,0,20.4-9.2,20.4-20.5c0-11.3-9.1-20.5-20.4-20.5H34.1c-11.3,0-20.4,9.2-20.4,20.5    C13.7,266.8,22.8,276,34.1,276z"/>
        <path d="m257.3,88.9c11.3,0 20.4-9.2 20.4-20.5v-37c0-11.3-9.1-20.5-20.4-20.5-11.3,0-20.4,9.2-20.4,20.5v37c0,11.4 9.2,20.5 20.4,20.5z"/>
        <path d="m111.1,137.7c8,8 20.9,8 28.9,0 8-8 8-21 0-29l-26.1-26.1c-8-8-20.9-8-28.9,0-8,8-8,21 0,29l26.1,26.1z"/>
        <path d="m403.6,137.7l26.1-26.1c8-8 8-21 0-29-8-8-20.9-8-28.9,0l-26.1,26.1c-8,8-8,21 0,29 8,8 20.9,8 28.9,0z"/>
        <path d="m477.9,313.9h-92.9c8.2-18.3 12.5-38.1 12.5-58.5 0-78-62.9-141.6-140.2-141.6-77.3,0-140.2,63.5-140.2,141.6 0,20.3 4.3,40.2 12.5,58.5h-98.2c-11.3,0-20.4,9.2-20.4,20.5 0,11.3 9.1,20.5 20.4,20.5h205.5v75.9l-15.9-16.1c-7.9-8-20.9-8.1-28.9-0.1-8,8-8,20.9-0.1,29l50.8,51.4c3.8,3.9 9,6.1 14.5,6.1 5.4,0 10.7-2.2 14.5-6.1l50.8-51.4c7.9-8 7.9-21-0.1-29-8-8-20.9-7.9-28.9,0.1l-15.9,16.1v-75.9h200.1c11.3,0 20.4-9.2 20.4-20.5 0.1-11.3-9-20.5-20.3-20.5zm-138.2-2.2c-0.5,0.7-0.9,1.4-1.3,2.2h-60.7v-102.7c0-11.3-9.1-20.5-20.4-20.5-11.3,0-20.4,9.2-20.4,20.5v102.7h-61.2c-0.5-1.5-1.2-2.9-2-4.2-10.3-16.2-15.7-34.9-15.7-54.3 0-55.5 44.6-100.6 99.4-100.6 54.8,0 99.4,45.1 99.4,100.6-0.1,20.2-6,39.7-17.1,56.3z"/>
    </svg>
</template>